@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Freeman", sans-serif;
    /* text-transform: capitalize; */
    text-decoration: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    height: 3000px;
}

/* :root {
    --pink: #FF046F;
    --violet: #C63BFA;
} */

:root{
    --pink: #0436ff;
    --violet: #00197d;
}

*::selection {
    background: var(--pink);
    color: #FFF;
}

html {
    font-size: 62%;
    /* overflow-x: scroll; */
    /* overflow-x: hidden; */
}

header {
    width: 92%;
    background: #fff;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 500;
    transition: 0.2s;
}

.header-active {
    background: #ffffff;
    top: 0rem;
    width: 100%;
    border-radius: 0rem;
    border-bottom: 2px solid rgb(199, 199, 199);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0rem 1rem;
}

header .navbar ul li a {
    color: var(--pink);
    font-size: 2rem;
}

nav ul li a.active {
    color: var(--violet);
}

.navbar ul li a:hover {
    color: var(--violet);
}

header .logo {
    font-size: 2.5rem;
    color: var(--violet);
}

header .logo i {
    color: var(--pink);
    padding: 0.2rem;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

header .fa-times {
    transform: rotate(180deg);
    color: var(--violet);
    transition: 0.5s;
}

header .nav-toggle {
    top: 5rem;
    opacity: 1;
}

.heading {
    font-size: 4rem;
    color: var(--pink);
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 0rem 1rem;
}

.text {
    font-size: 2rem;
    color: #aaa;
    font-weight: bold;
    text-align: center;
    font-weight: 300;
    padding: 0rem 1rem;
}



/* Media Queries */
@media(max-width:700px) {
    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 100rem;
        left: 0rem;
        width: 100%;
        background: #fff;
        border-radius: 1rem;
        opacity: 0;
        transition: 0.2s linear;
        border-radius: 0rem;
    border-bottom: 2px solid rgb(199, 199, 199);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 1rem 0rem;
        margin: 0rem 1rem;
    }

    header .navbar ul li {
        margin: 1rem;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.36);
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 2rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    #home .box-container .box p {
        padding: 1rem 0.8rem;
    }

    #home::before {
        display: none;
    }

    #about .row {
        flex-direction: column-reverse;
    }

    #about .row .image img {
        height: 70vh;
        width: 90vw;
    }

    #about .row .content {
        padding: 1rem 2rem;
        margin: 0;
    }
    #about .row .content button {
        margin-bottom: 2rem;
        height: 4rem;
        width: 12rem;
        font-size: 1.5rem;
        border-radius: 1.3rem;
    }

    #course .box-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        padding-top: 4rem;
    }
    #review .box-container {
        width: 100%;
        margin-top: 10rem;
    }

    #contact .row {
        flex-direction: column;
    }

    #contact .row .image img {
        height: 50vh;
        width: 90vw;
    }
    #contact .row .form-container {
        width: 80%;
    }

    #footer .icons a {
        margin: 1.5rem 0.5rem;
    }
}
@media(max-width:400px) {
    #contact .row .form-container {
        width: 100%;
    }
    #about .row .content button {
        margin-bottom: 2rem;
        height: 3rem;
        width: 10rem;
        font-size: 1.3rem;
        border-radius: 1.3rem;
    }
    #home .content h1 {
        font-size: 3rem;
        margin:0 1rem 2rem 1rem;
    }
    #home .content p {
        font-size: 1.5rem;
        margin: 1rem 3rem 1rem 3rem;
    }
    
}