<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="About.css">
    <link rel="stylesheet" href="Teacher.css">
    <link rel="stylesheet" href="Course.css">
    <link rel="stylesheet" href="Contact.css">
    <link rel="stylesheet" href="Review.css">
    <link rel="stylesheet" href="Footer.css">
    <link rel="stylesheet" href="style.css">       <!-- Media query CSS file should be include by last. -->
    <title>Education Website </title>
</head>

<body>
    <!-- header section  -->
    <header>
        <a href="#" class="logo"><i class="fas fa-graduation-cap"></i>Div_95</a>
        <nav class="navbar">
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#teacher">Teacher</a></li>
                <li><a href="#course">Course</a></li>
                <li><a href="#review">review</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="fas fa-bars"></div>
    </header>
    <!-- header end -->

    <!-- Home Section starts -->
    <section id="home" class="home">
        <div class="content">
            <h1> Divyesh Computer Academy</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione consectetur dolorum, corporis
                soluta dolore sint cupiditate dolorem quibusdam id numquam doloribus dicta dignissimos sapiente a
                molestiae quae beatae sit.</p>
            <a href="#"><button>Discover More</button></a>
        </div>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <h3>Trending Course</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.</p>
            </div>
            <div class="box">
                <i class="fas fa-fire"></i>
                <h3>Free Trials </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.</p>
            </div>
            <div class="box">
                <i class="fas fa-award"></i>
                <h3>Certifiaction</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.</p>
            </div>
        </div>
    </section>
    <!-- Home Section ends -->

    <!-- About Section Start -->
    <section class="about" id="about">
        <h1>About us</h1>
        <h3 class="text">Start your journey with us</h3>
        <div class="row">
            <div class="content">
                <h3>Start your journey with us with our practical cource</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quia consequuntur omnis quisquam
                    magnam quos veniam saepe tenetur explicabo exercitationem!</p>
                <a href="#"><button>Learn more</button></a>
            </div>
            <div class="image">
                <img src="/Assets/learning.svg" alt="">
            </div>
        </div>
    </section>

    <!-- About Section End -->
    <!-- Teacher Section starts  -->
    <section id="teacher" class="teacher">
        <h1 class="heading">Our Teachers</h1>
        <h3 class="text">Meet Professional Trainers</h3>
        <div class="card-container">
            <div class="card">
                <img src="./Assets/Teacher1.jpg" alt="">
                <h3>Devid Killer</h3>
                <p>I love Teaching</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>
            <div class="card">
                <img src="./Assets/Teacher2.jpg" alt="">
                <h3>Alexa Rhodes</h3>
                <p>I love Teaching</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>
            <div class="card">
                <img src="./Assets/Doctor.jpg" alt="">
                <h3>Doctor Nobody</h3>
                <p>I love Teaching</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-github"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Teacher Section ends -->
    <!-- Course section started -->
    <section id="course" class="course">
        <h1 class="heading">Our Popular Courses</h1>
        <h3 class="text">Enhance your skills with our courses</h3>

        <div class="box-container">
            <div class="box">
                <i class="fab fa-html5"></i>
                <h3>HTML 5</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
            <div class="box">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS 3</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
            <div class="box">
                <i class="fab fa-js-square"></i>
                <h3>JavaScript</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
            <div class="box">
                <i class="fab fa-keybase"></i>
                <h3>Full Stack Devlopment</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
            <div class="box">
                <i class="fab fa-buysellads"></i>
                <h3>Marketing</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
            <div class="box">
                <i class="fab fa-accusoft"></i>
                <h3>Graphic Designing</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
                </p>
            </div>
        </div>
    </section>
    <!-- Course section Ended -->

    <!-- Review Section starts  -->
    <section id="review" class="rewiew">
        <h1 class="heading">Students Review</h1>
        <h3 class="text">What our students says about us</h3>
        <div class="box-container">
            <div class="box">
                <img src="/Assets/person.svg" alt="">
                <h3>Vedant Modi</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
                    totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.</p>
                <div class="stars">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                </div>
            </div>
            <div class="box">
                <img src="/Assets/person.svg" alt="">
                <h3>OM Varia</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
                    totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.</p>
                <div class="stars">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                </div>
            </div>
            <div class="box">
                <img src="/Assets/person.svg" alt="">
                <h3>Devansh Varia</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
                    totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.</p>
                <div class="stars">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                    <img src="./Assets/star1.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Review section ends  -->
    
    <!-- Contact section starts  -->
    <section class="contact" id="contact">
        <h1 class="heading">Contact us on different platforms</h1>
        <h3 class="text">It's our pleasure to talk to you and solve doubts</h3>
        <div class="row">
            <div class="image">
                <img src="/Assets/contact.svg" alt="">
            </div>
            <div class="form-container">
                <form action="" method="post">
                    <input type="text" name="name" placeholder="Full name">
                    <input type="email"  name="email" placeholder="Enter Email">
                    <input type="number" name="mobile" placeholder="Contact number">
                    <textarea name="message" id="" cols="15" rows="30" placeholder="Enter message here"></textarea>
                    <input type="submit" value="message">
                </form>
            </div>
        </div>
    </section>
    <!-- Contact section ends  -->

    <!-- Footer section starts  -->
    <section class="footer" id="footer">
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credit">
            Created by <span> Divyesh Parmar</span>|| Copyright © 2023
        </div>
    </section>
    <!-- Footer Section ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="main.js"></script>
</body>

</html>