doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    style 
      include ../static/home.css
      include ../static/About.css
      include ../static/Teacher.css
      include ../static/Course.css
      include ../static/Contact.css
      include ../static/Review.css
      include ../static/Footer.css
      include ../static/style.css
    //- Media query CSS file should be include by last.
    title #{title} 
  body
    //- header section
    header
      a.logo(href='#')
        i.fas.fa-graduation-cap
        | Div_95
      nav.navbar
        ul
          li
            a.active(href='#home') Home
          li
            a(href='#about') About
          li
            a(href='#teacher') Teacher
          li
            a(href='#course') Course
          li
            a(href='#review') review
          li
            a(href='#contact') Contact
      .fas.fa-bars
    //- header end

    //- Home Section starts
    section#home.home
      .content
        h1  Divyesh Computer Academy
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione consectetur dolorum, corporis
          | soluta dolore sint cupiditate dolorem quibusdam id numquam doloribus dicta dignissimos sapiente a
          | molestiae quae beatae sit.
        a(href='#')
          button Discover More
      .box-container
        .box
          i.fas.fa-graduation-cap
          h3 Trending Course
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.
        .box
          i.fas.fa-fire
          h3 Free Trials 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.
        .box
          i.fas.fa-award
          h3 Certifiaction
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, obcaecati.
    //- Home Section ends
    //- About Section Start
    section#about.about
      h1 About us
      h3.text Start your journey with us
      .row
        .content
          h3 Start your journey with us with our practical cource
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quia consequuntur omnis quisquam
            | magnam quos veniam saepe tenetur explicabo exercitationem!
          a(href='#')
            button Learn more
        .image
          img(src="../static/Assets/learning.svg"  alt='')
    //- About Section End
    //- Teacher Section starts
    section#teacher.teacher
      h1.heading Our Teachers
      h3.text Meet Professional Trainers
      .card-container
        .card
          img(src="../static/Assets/Teacher1.jpg" alt='')
          h3 Devid Killer
          p I love Teaching
          .icons
            a.fab.fa-facebook-f(href='#')
            a.fab.fa-twitter(href='#')
            a.fab.fa-instagram(href='#')
            a.fab.fa-github(href='#')
        .card
          img(src='../static/Assets/Teacher2.jpg' alt='')
          h3 Alexa Rhodes
          p I love Teaching
          .icons
            a.fab.fa-facebook-f(href='#')
            a.fab.fa-twitter(href='#')
            a.fab.fa-instagram(href='#')
            a.fab.fa-github(href='#')
        .card
          img(src='../static/Assets/Doctor.jpg' alt='')
          h3 Doctor Nobody
          p I love Teaching
          .icons
            a.fab.fa-facebook-f(href='#')
            a.fab.fa-twitter(href='#')
            a.fab.fa-instagram(href='#')
            a.fab.fa-github(href='#')
    //- Teacher Section ends

    //- Course section started
    section#course.course
      h1.heading Our Popular Courses
      h3.text Enhance your skills with our courses
      .box-container
        .box
          i.fab.fa-html5
          h3 HTML 5
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
        .box
          i.fab.fa-css3-alt
          h3 CSS 3
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
        .box
          i.fab.fa-js-square
          h3 JavaScript
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
        .box
          i.fab.fa-keybase
          h3 Full Stack Devlopment
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
        .box
          i.fab.fa-buysellads
          h3 Marketing
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
        .box
          i.fab.fa-accusoft
          h3 Graphic Designing
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod accusantium doloribus iste laboriosam!
    //- Course section Ended

    //- Review Section starts
    section#review.rewiew
      h1.heading Students Review
      h3.text What our students says about us
      .box-container
        .box
          img(src='../static/Assets/person.svg', alt='')
          h3 Vedant Modi
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
            | totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.
          .stars
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
        .box
          img(src='../static/Assets/person.svg', alt='')
          h3 OM Varia
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
            | totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.
          .stars
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
        .box
          img(src='../static/Assets/person.svg', alt='')
          h3 Devansh Varia
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, sequi quia? Quis unde, neque
            | totam sint animi alias? Incidunt cum vel ducimus. Molestias, excepturi asperiores.
          .stars
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
            img(src='../static/Assets/star1.png', alt='')
    //- Review section ends

    //- Contact section starts
    section#contact.contact
      h1.heading Contact us on different platforms
      h3.text It&apos;s our pleasure to talk to you and solve doubts
      .row
        .image
          img(src='../static/Assets/contact.svg', alt='')
        .form-container
          form(action='/',method='post')
            input(type='text',name='name',id='name' placeholder='Full name')
            input(type='email',name='email',id='email' placeholder='Enter Email')
            input(type='number',name='phone',id='phone' placeholder='Contact number')
            textarea(id='message', cols='15', rows='30',name='message' placeholder='Enter message here')
            button(id='btn') Submit
            //- h2 #{msg}
            
    //- Contact section ends

    //- Footer section starts
    section#footer.footer
      .icons
        a.fab.fa-facebook-f(href='#')
        a.fab.fa-twitter(href='#')
        a.fab.fa-instagram(href='#')
        a.fab.fa-github(href='#')
        a.fab.fa-linkedin(href='#')
      .credit
        | Created by 
        span  Divyesh Parmar
        | || Copyright &copy; 2023

    //- Footer Section ends

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script
      include ../static/index.js