#contact {
    background: #333;
    position: relative;
}

/* #contact::before{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    top: -25rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 70vh solid #333;
    border-radius: 50%;
    z-index: -1;
} */

#contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

#contact .row .image img {
    width: 50vw;
    height: 60vh;
}

#contact .row .form-container {
    width: 40%;
}

#contact .row .form-container input,
textarea {
    height: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: var(--pink);
    border: 0.2rem solid #fff;
    margin: 1rem 0;
    padding: 2rem;
    transition: 0.2s linear;
}

#contact .row .form-container input:focus,
textarea:focus {
    border: 0.2rem solid var(--pink);
}

#contact .row .form-container textarea {
    height: 20rem;
    border-radius: 0.5rem;
    padding: 1rem;
    resize: none;
}

#contact .row .form-container button {
    width: 17rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
    background: none;
    color: var(--pink);
    border: 0.2rem solid var(--pink);
}

#contact .row .form-container button:hover {
    color: #fff;
    border: 0.2rem solid var(--pink);
    background: var(--pink);
}

#contact .row .form-container h2 {
    color: var(--pink);
    font-size: 2rem;
}