#home {
    min-height: 100vh;
    background: linear-gradient(#ff047153, #ff0471ab), url(../static/Assets/bg-1.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

#home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 12rem 0rem 0rem 0rem;
}

#home .content h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.468);
}

#home .content p {
    font-size: 2rem;
    margin: 1rem 5rem 1rem 5rem;
    color: #eee;
}
#home .content button{
    height: 5rem;
    width: 18rem;
    font-size: 2rem;
    border-radius: 1.3rem;
    background-color: var(--violet);
    color: #fff;
    border: none;
    box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.468);
    cursor: pointer;
    transition: 0.2s;
}

#home .content button:hover {
    border-radius: 1.7rem;
    background-color: var(--pink);
}

#home .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#home .box-container .box {
    margin: 2rem 3rem 0rem 3rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 25rem;
    background-color: #fff;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.468);
}

#home .box-container .box i {
    height: 6rem;
    width: 6rem;
    text-align: center;
    font-size: 3rem;
    line-height: 6rem;
    background-color: var(--violet);
    margin: 2rem 0rem;
    border-radius: 50%;
}

#home .box-container .box i:hover {
    background-color: var(--pink);
}

#home .box-container .box h3 {
    font-size: 2rem;
    transition: 0.2s;
    color: var(--pink);
    cursor: pointer;
}

#home .box-container .box h3:hover {
    color: var(--violet);
}

#home .box-container .box p {
    font-size: 1.3rem;
    padding: 1.5rem 1rem;
    color: #666;
}

#home::before {
    content: "";
    position: absolute;
    bottom: -25rem;
    left: 50%;
    border-top: 70vh solid #fff;
    width: 120%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
}
